body {
	background: linear-gradient(-15deg, blue, silver);
}

h1 {
	font-size: 35px;
	color: white;
	text-align: center;
}

button {
	padding: 14px 28px;
	font-size: 24px;
	background-color: navy;
  color: white;
}

.home {
	position: absolute;
	left: 30px;
	top: 100px;
}

.edit {
	position: absolute;
	left: 200px;
	top: 100px;
}

.remove {
	position: absolute;
	left: 400px;
	top: 100px;
}

button:hover {
	background-color: black;
  color: red;
}
