.LogoutButton
{
  color: white;
}

.LogoutButton:hover {
  background-color: #A23E48; /* Green */
  color: white;
  border-color: #fff;
}

.Content {
   margin-top: 5%;
   margin-left: %;
   flex-direction: row;
}

.SearchBox {
   width: 55%;
}

.SearchButton {
   margin-right: 0.5%;
   color: white;
}

.RemoveButton {
  margin-right: 0.5rem;
}

.EditButton {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}
