@font-face {
  font-family: starwars;
  src: url(sfdistantgalaxy-0l3d-webfont.woff);
}

*{
  font-family: starwars;
}

.NavBarSettings{
  /* justify-content: space-evenly; */
}

.displayResults{
  color: silver;
  background-color: blue;
  /* filter:blur(1px); */
}

.firstname{
  text-indent: 5px;
}

.tableButtons{
  background-color: gray;
}

.displayResults:nth-child(2n+1){
  background-color: green;
}
.displayResults:nth-child(2n){
  background-color: blue;
}

.displayResults:nth-child(3n){
  background-color: red;
}



.editButton{
  color: white;
  background-color: black;
}

.editButton:hover{
  color:blue;
}

.deleteButton{
  color: red;
  background-color: black;
}

.Home {
  /* background: url("./PIA09959-1280x800_copy.jpg");
  background-size:cover; */

}

.particles {
  background: url("./PIA09959-1280x800_copy.jpg");
  /* background-color: black; */
  background-size:cover;
}

.LogoutButton
{
  margin-top: 8%;
  font-family: starwars;
  color: white;
}

.LogoutButton:hover {
  background-color: #A23E48; /* Green */
  color: white;
  border-color: #fff;
}

.Content {
   margin-top: 5%;
}

.TableContainer
{
  color: white;
   width: 100%;
}

/* .leftNav{
  align:left;
} */
.SearchContainer {
margin-left: 40%;
width:250%;
}
/* .rightNav{
text-align: right;
} */

.SearchBox {
   width: 55%;
}

.SearchButton {
   /* margin-right: 0.5%; */

   color: white;
   background-color: black;
}

.RemoveButton {
  margin-right: 0.5rem;
}

.EditButton {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.TableName{
  color: white;
}
