.HomeBackground {
  position: absolute;
  height: 100%;
  width: 100%;
}

.particles
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: -1;
}


.Content {
  height: 100%;
  width: 100%;
}

.LogoutContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  float: right;
  height: 6%;
  width: 100%;
}

.LogoutButton {
  text-align: center;
  width: 10%;
  font-size: 12px;
  color: white;
}

.LogoutButton:hover {
  background-color: #A23E48; /* Green */
  color: white;
  border-color: #fff;
}

.Content {
   margin-top: 5%;
   margin-left: 35%;
   flex-direction: row;
}

.SearchBox {
   width: 25%;
}

.SearchButton {
   margin-right: 0.5%;
   width: 10%;
   color: white;
}
