@font-face {
  font-family: myFirstFont;
  src: url(star-wars-font.woff);
}

.homeTitle {
  text-align: center;
  color: white;
  font-family: myFirstFont;
  /* font-family: sans-serif; */
}

.HomeBackground {
  position: absolute;
  height: 100%;
  width: 100%;
  /* background-color: #483D3F; */
  background: url("./PIA09959-1280x800_copy.jpg");
  background-size:cover;
  overflow: hidden;
    /* background-position:top;
    background: cover; */
}

.Content {
  height: 100%;
  width: 100%;
}

.LogoutContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  float: right;
  height: 6%;
  width: 100%;
}

.LogoutButton {
  color: white;
  background-color: black;
  text-align: center;
  margin-top: 1%;
  margin-right: 3%;
  font-size: 15px;
  border-radius: 10px;
  border: 1.5px solid white;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  /* margin: auto;
  width: 130px;
  font-size: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;

  border-color: white; */
}

.LogoutButton:hover {
  background-color: red; /* Green */
  color: white;
  border-color: #fff;
}

.Content {
  /* width: 95% */
   margin-top: 5%;
   margin-left: 0%;
   margin-right: auto;
   flex-direction: row;
     font-family: myFirstFont;
}

.tableHeader {
  color: white;

}

.SearchBox {
   width: 25%;
}

.mainUtil {
  /* align-items: right; */
  /* width: 90%; */
  margin-left: 0%;
  text-align: center;
  /* margin-right: 5%; */
}

.editButton {
  font-size: 20px;
  background-color: black;
  color: blue;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin: auto;
  /* height: 50px; */
}

.deleteButton {
  font-size: 20px;
  background-color: black;
  color: red;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin: auto;
}

.deleteButton:hover {
  color: black;
  background-color: red;
}

.SearchButton {
   margin-right: 0.5%;
   width: 10%;
   color: gray;
   background-color: red;
   font-size: 20px;
   -webkit-transition-duration: 0.4s;
   transition-duration: 0.4s;
}

.NewContactButton
{
   color: white;
   width: 35.5%;
   background-color: gray;
   color: black;
   font-size: 20px;
   -webkit-transition-duration: 0.4s;
   transition-duration: 0.4s;
}

.NewContactButton:hover {
  background-color: black;
  color: white;
}

.EmptyResults {
  /* text-align: center; */
}

.searchResultsTitle {
  margin-left: 15%;
  color: white;
}

.displayResults {
  background-color: blue;
  /* border: 10px solid; */
}

td {
  /* border: 10px solid black; */
  height: 5px;
}

.tableButtons {
  background-color: silver;
}

.firstname {
  /* padding-left: 5px; */
  text-indent: 10px;
}

.tableResults {
  /* border: 10px solid; */
}

.EmptyResults {
  color: gray;
}

table.center {
  width:70%;
  margin-left:auto;
  margin-right:auto;
  color: white;
  background-color: ;
}

.button {
  font-family: myFirstFont;
}
