@font-face {
  font-family: starwars;
  src: url(sfdistantgalaxy-0l3d-webfont.woff);
}

.Signin
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerGif {
  display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

.particles
{
  background: url("./PIA09959-1280x800_copy.jpg");

   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: -1;
}

.AppTitle
{
  font-family: starwars;
  text-align: center;
  font-size: 5em;
  color: white;
}

.FormContent
{
  /* margin-top: 12.5%; */
  margin-top: 5%;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.ButtonContainer
{
  font-family: starwars;
  margin-top: 10px;
  display: flex;
  color: white;
  flex-direction: row;
  justify-content: space-evenly;
}

.LoginButton
{
   width: 40%;
   text-align: center;
   color: white;
   font-size: 15px;
}

.RegisterButton
{
   width: 40%;
   text-align: center;
   color: white;
   font-size: 15px;
}

.Field
{
  font-family: 'Be Vietnam', sans-serif;
  font-size: 23px;
  margin: 10px 0px;
  height: 40px;
}

.CustomButton
{
  min-width: 40%;
  font-size: 23px;
  padding: 7px 7px;
  box-sizing: border-box;
  color: white;
  border: 1px solid black;
  border-radius: 4px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.ErrorMessage
{
  text-align: center;
  color: #fff;
}
